body {
    background-color: rgb(48, 45, 45);
}

h1, h2, p {
    text-align: center;
    color: rgb(206, 202, 202);
    font-family: verdana;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 8px 16px;
}

li a.active {
    background-color: rgb(28, 81, 128);
    color: rgb(135, 193, 247);
}
li a:hover:not(.active) {
    background-color: rgb(73, 118, 158);
    color: rgb(0, 183, 255);
}

img {
    border-radius: 50%;
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.jumbotron {
    background-color: rgb(28, 81, 128);
}